In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Iris.csv")

print("Original DataFrame:\n", df.head())

Original DataFrame:
    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

##    a. Identify and count missing values in a dataframe.

In [2]:
print("Missing values in each column:\n", df.isnull().sum())

total_missing = df.isnull().sum().sum()
print("Total missing values:", total_missing)

Missing values in each column:
 Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64
Total missing values: 0

##  b. Drop the column having more than 5 null values.

In [3]:
df = df.loc[:, df.isnull().sum() <= 5]
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## c. Identify the row label having maximum of the sum of all values in a row and drop that row.

In [4]:
numeric_df = df.select_dtypes(include=np.number)

row_to_drop = numeric_df.sum(axis=1).idxmax()
df = df.drop(row_to_drop)

print("Dropped row label:", row_to_drop)

Dropped row label: 148

##        d. Sort the dataframe on the basis of the first column.

In [5]:
second_col = df.columns[1]
df = df.sort_values(by=second_col)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

##   e. Remove all duplicates from the first column.

In [6]:
df = df.drop_duplicates(subset=second_col)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
45,46,4.8,3.0,1.4,0.3,Iris-setosa
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
40,41,5.0,3.5,1.3,0.3,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
48,49,5.3,3.7,1.5,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
14,15,5.8,4.0,1.2,0.2,Iris-setosa
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
78,79,6.0,2.9,4.5,1.5,Iris-versicolor
127,128,6.1,3.0,4.9,1.8,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
137,138,6.4,3.1,5.5,1.8,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
124,125,6.7,3.3,5.7,2.1,Iris-virginica
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
141,142,6.9,3.1,5.1,2.3,Iris-virginica
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
102,103,7.1,3.0,5.9,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

##   f. Find the correlation between first and second column and covariance between second and third column

In [7]:
col1 = df.columns[0]
col2 = df.columns[1]
col3 = df.columns[2]

correlation = df[col1].corr(df[col2])
covariance = df[col2].cov(df[col3])

print("Correlation between first & second column:", correlation)
print("Covariance between second & third column:", covariance)

Correlation between first & second column: 0.7191871147879032
Covariance between second & third column: -0.040373208779249055

##  g. Detect the outliers and remove the rows having outliers.

##      h. Discretize second column and create 5 bins

In [9]:
second_col = df.columns[1]


df['Binned'] = pd.cut(df[second_col], bins=5, labels=False)

print(df[['Binned']].head())

   Binned
0       1
1       0
2       0
3       0
4       0